/*variables Font */
/* Theme Color */
/*rgb(4,9,30)*/
/*Load mixin */
/*********** font ***********/
/******** Transition *********/
/************* **************/
/************** Shadow ************/
/*********** radius ************/
/******** Button *********/
/*inheritance Font */
.cardHeading, .cardContainer .cardBlockStyle_1 .cardHeading, .cardContainer .cardBlockStyle_2 .cardHeading, .cardContainer .cardBlockStyle_3 .cardHeading {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  font-family: "Roboto Condensed", Arial, sans-serif;
  padding: 20px 40px 15px;
  margin: 0 0 20px; }
  .cardHeading .lightShadeHeading, .cardContainer .cardBlockStyle_1 .cardHeading .lightShadeHeading, .cardContainer .cardBlockStyle_2 .cardHeading .lightShadeHeading, .cardContainer .cardBlockStyle_3 .cardHeading .lightShadeHeading {
    position: absolute;
    opacity: 0.1;
    bottom: 20px;
    font-size: 30px;
    font-weight: 300; }

.cardContentP, .cardContainer .cardBlockStyle_1 .cardContent p, .cardContainer .cardBlockStyle_2 .cardContent p, .cardContainer .cardBlockStyle_3 .cardContent p {
  margin: 0;
  padding: 0 0 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Roboto Condensed", Arial, sans-serif; }

.message, .success, .error, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }

.error {
  border-color: red; }

.warning {
  border-color: yellow; }

/*Load Font */
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open Sans/Open Sans.eot");
  src: url("../../fonts/Open Sans/Open Sans.eot?#iefix") format("embedded-opentype"), url("../../fonts/Open Sans/Open Sans.woff") format("woff"), url("../../fonts/Open Sans/Open Sans.ttf") format("truetype"), url("../../fonts/Open Sans/Open Sans.svg#Open Sans            ") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open Sans/OpenSans-Semibold-webfont.eot");
  src: url("../../fonts/Open Sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Open Sans/OpenSans-Semibold-webfont.woff") format("woff"), url("../../fonts/Open Sans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../../fonts/Open Sans/OpenSans-Semibold-webfont.svg#Open Sans            ") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open Sans/OpenSans-Bold-webfont.eot");
  src: url("../../fonts/Open Sans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Open Sans/OpenSans-Bold-webfont.woff") format("woff"), url("../../fonts/Open Sans/OpenSans-Bold-webfont.ttf") format("truetype"), url("../../fonts/Open Sans/OpenSans-Bold-webfont.svg#Open Sans            ") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "fontawesome";
  src: url("../../fonts/fontawesome/fontawesome.eot");
  src: url("../../fonts/fontawesome/fontawesome.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontawesome/fontawesome.woff") format("woff"), url("../../fonts/fontawesome/fontawesome.ttf") format("truetype"), url("../../fonts/fontawesome/fontawesome.svg#fontawesome            ") format("svg");
  font-weight: 400;
  font-style: normal; }
/*common styles */
* {
  font-family: 'Open Sans';
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: "Open Sans";
  font-size: 14px; }

/*.read-more{ 
        @include button($primaryColor,$blackColor,18px,10px 25px);
        @include radius(10px);
        text-transform: uppercase;
        border:$blackColor solid 1px;
        @include transition(all, 0.5s, ease, 0s); 
         &:hover{
             background-color:$primaryHoverColor;
         }
     }     
*/
.nb-btn {
  min-height: 50px;
  min-width: 160px;
  display: flex;
  align-content: center;
  justify-content: center;
  border: none; }

/***************** cardBlockStyle *******************/
.cardContainer {
  max-width: 600px;
  /***************** cardBlockStyle_1 *******************/
  /***************** cardBlockStyle_1 *******************/
  /***************** cardBlockStyle_2 *******************/
  /***************** cardBlockStyle_2 *******************/
  /***************** cardBlockStyle_2 *******************/
  /***************** cardBlockStyle_2 *******************/ }
  .cardContainer .cardBlockStyle_1 {
    background: #19abd4;
    background: -moz-linear-gradient(left, #0b89af 0%, #19abd4 100%);
    background: -webkit-gradient(linear, left, color-stop(0%, #0b89af), color-stop(100%, #19abd4));
    background: -webkit-linear-gradient(left, #0b89af 0%, #19abd4 100%);
    background: -o-linear-gradient(left, #0b89af 0%, #19abd4 100%);
    background: linear-gradient(left, #0b89af 0%, #19abd4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0b89af, endColorstr=#19abd4);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }
    .cardContainer .cardBlockStyle_1 .cardHeading {
      color: #ffffff;
      border-bottom: rgba(255, 255, 255, 0.2) solid 2px; }
    .cardContainer .cardBlockStyle_1 .cardContent {
      margin: 0;
      padding: 10px 40px 30px; }
      .cardContainer .cardBlockStyle_1 .cardContent button.btnStyle1, .cardContainer .cardBlockStyle_1 .cardContent a.btnStyle1, .cardContainer .cardBlockStyle_1 .cardContent .btnStyle1 {
        /*  btnFormat($bgColor:$primaryColor,$bgColorHover:$primaryColor,$textColor:$blackColor,$fontSize:16px,$padding:12px 30px)   */
        background: #0b89af;
        color: #ffffff;
        font-size: 14px;
        margin: 0;
        padding: 12px 30px;
        display: inline-block;
        border: none;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        font-weight: 600;
        border-top: #05637e solid 1px; }
        .cardContainer .cardBlockStyle_1 .cardContent button.btnStyle1:hover, .cardContainer .cardBlockStyle_1 .cardContent a.btnStyle1:hover, .cardContainer .cardBlockStyle_1 .cardContent .btnStyle1:hover {
          background-color: rgba(5, 99, 126, 0.7);
          transition: all 0.5s ease 0s;
          -webkit-transition: all 0.5s ease 0s;
          -moz-transition: all 0.5s ease 0s;
          -o-transition: all 0.5s ease 0s; }
  .cardContainer .cardBlockStyle_2 {
    background: white;
    background: -moz-linear-gradient(left, white 0%, white 100%);
    background: -webkit-gradient(linear, left, color-stop(0%, white), color-stop(100%, white));
    background: -webkit-linear-gradient(left, white 0%, white 100%);
    background: -o-linear-gradient(left, white 0%, white 100%);
    background: linear-gradient(left, white 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=white);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }
    .cardContainer .cardBlockStyle_2 .cardHeading {
      color: #000000;
      border-bottom: rgba(0, 0, 0, 0.2) solid 2px; }
    .cardContainer .cardBlockStyle_2 .cardContent {
      margin: 0;
      padding: 10px 40px 30px; }
      .cardContainer .cardBlockStyle_2 .cardContent p {
        color: #000000; }
      .cardContainer .cardBlockStyle_2 .cardContent button.btnStyle1, .cardContainer .cardBlockStyle_2 .cardContent a.btnStyle1, .cardContainer .cardBlockStyle_2 .cardContent .btnStyle1 {
        /*  btnFormat($bgColor:$primaryColor,$bgColorHover:$primaryColor,$textColor:$blackColor,$fontSize:16px,$padding:12px 30px)   */
        background: #05637e;
        color: #ffffff;
        font-size: 16px;
        margin: 0;
        padding: 12px 30px;
        display: inline-block;
        border: none;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        background: #0b89af;
        background: -moz-linear-gradient(left, #19abd4 0%, #0b89af 100%);
        background: -webkit-gradient(linear, left, color-stop(0%, #19abd4), color-stop(100%, #0b89af));
        background: -webkit-linear-gradient(left, #19abd4 0%, #0b89af 100%);
        background: -o-linear-gradient(left, #19abd4 0%, #0b89af 100%);
        background: linear-gradient(left, #19abd4 0%, #0b89af 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#19abd4, endColorstr=#0b89af);
        font-weight: 600; }
        .cardContainer .cardBlockStyle_2 .cardContent button.btnStyle1:hover, .cardContainer .cardBlockStyle_2 .cardContent a.btnStyle1:hover, .cardContainer .cardBlockStyle_2 .cardContent .btnStyle1:hover {
          background-color: rgba(7, 127, 162, 0.7);
          transition: all 0.5s ease 0s;
          -webkit-transition: all 0.5s ease 0s;
          -moz-transition: all 0.5s ease 0s;
          -o-transition: all 0.5s ease 0s; }
  .cardContainer .cardBlockStyle_3 {
    background: white;
    background: -moz-linear-gradient(left, white 0%, white 100%);
    background: -webkit-gradient(linear, left, color-stop(0%, white), color-stop(100%, white));
    background: -webkit-linear-gradient(left, white 0%, white 100%);
    background: -o-linear-gradient(left, white 0%, white 100%);
    background: linear-gradient(left, white 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=white);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }
    .cardContainer .cardBlockStyle_3 .cardHeading {
      color: #000000;
      margin-bottom: 10px; }
      .cardContainer .cardBlockStyle_3 .cardHeading:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 40px;
        width: 40px;
        border-bottom: #05637e solid 2px; }
    .cardContainer .cardBlockStyle_3 .cardContent {
      margin: 0;
      padding: 10px 40px 30px; }
      .cardContainer .cardBlockStyle_3 .cardContent p {
        color: #000000;
        padding-bottom: 20px; }
      .cardContainer .cardBlockStyle_3 .cardContent button.btnStyle1, .cardContainer .cardBlockStyle_3 .cardContent a.btnStyle1, .cardContainer .cardBlockStyle_3 .cardContent .btnStyle1 {
        /*  btnFormat($bgColor:$primaryColor,$bgColorHover:$primaryColor,$textColor:$blackColor,$fontSize:16px,$padding:12px 30px)   */
        background: #05637e;
        color: #ffffff;
        font-size: 16px;
        margin: 0;
        padding: 12px 30px;
        display: inline-block;
        border: none;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        background: #0b89af;
        background: -moz-linear-gradient(left, #19abd4 0%, #0b89af 100%);
        background: -webkit-gradient(linear, left, color-stop(0%, #19abd4), color-stop(100%, #0b89af));
        background: -webkit-linear-gradient(left, #19abd4 0%, #0b89af 100%);
        background: -o-linear-gradient(left, #19abd4 0%, #0b89af 100%);
        background: linear-gradient(left, #19abd4 0%, #0b89af 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#19abd4, endColorstr=#0b89af);
        font-weight: 600; }
        .cardContainer .cardBlockStyle_3 .cardContent button.btnStyle1:hover, .cardContainer .cardBlockStyle_3 .cardContent a.btnStyle1:hover, .cardContainer .cardBlockStyle_3 .cardContent .btnStyle1:hover {
          background-color: rgba(7, 127, 162, 0.7);
          transition: all 0.5s ease 0s;
          -webkit-transition: all 0.5s ease 0s;
          -moz-transition: all 0.5s ease 0s;
          -o-transition: all 0.5s ease 0s; }

/***************** cardBlockStyle *******************/
/*header styles */
/*header
{ 
     
    margin-bottom:-150px;
    position:relative;
    overflow:hidden;
    z-index:2;
    .topLinks
    {
        background-color:rgba($headerOverLayerColor,1);
        color:$topLinkColor;
        font-size:14px;
        a
        {
            color:$topLinkColor; 
            
            @include transition(all, 0.5s, ease, 0s);
            text-decoration: none;
            &:hover{
           
               @include transition(all, 0.5s, ease, 0s);
                color:$topLinkHoverActiveColor;
            };
        }
        .leftSide
        {
            a
            {
                padding:7px 20px;
                display: inline-block;
                color:$topLinkColor;
                @include transition(all, 0.5s, ease, 0s);
                &:first-child
                {
                    padding-left: 0;
                    border-right:#525151 solid 1px;
                }
                &:last-child
                {
                    padding-right:0;
                }
                .fa
                {
                    margin-right:5px;
                    font-size:14px;
                    color: $topIconColor;
                    @include transition(all, 0.5s, ease, 0s);
                }
                &:hover
                {
                 
                @include transition(all, 0.5s, ease, 0s);
                color:$topLinkHoverActiveColor;
                    .fa{
                        @include transition(all, 0.5s, ease, 0s);
                        color:$topLinkHoverActiveColor;
                    }
                }
            }
        }
        .rightSide
        {
            text-align:right;
            ul
            {
                margin:0;
                padding: 0;
                a
                {    
                    padding:7px 5px;
                    display:inline-block;                   
                    &:first-child{
                        padding-left:0;
                    }
                    &:last-child{
                        padding-right:0;
                    }             
                }
            }
        }
    }
   
    .logoSection{
        padding:20px 0;
        background-color: rgba(255,255,255,0.5);
        .logo{max-width: 200px}
        .search-bar input[type="text"] 
        {
            width:170px;
            box-sizing: border-box;
            border: 1px solid #666666;
            border-radius: 40px;
            font-size: 16px;
            background-color:rgba(255,255,255,0.7);
            background-image: url(../images/search-icon.png);
            background-position: center right;
            background-repeat: no-repeat;
            padding: 5px 20px 5px 20px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            float: right;
            font-size: 14px;
            color: #000;
        }
            .search-bar input[type=text]:focus 
            {
                width: 100%;
                outline: none;
            }
            .cart-icon 
            {
                position: relative;
                margin-left: 30px;            
            }
            .cart-icon .fa-shopping-cart {
                font-size: 30px;
                color: #121212;
            }
            .cart-icon .badge 
            {
                display: inline-block;
                min-width: 0px;
                padding: 4px 6px;
                font-size: 10px;
                font-weight: bold;
                color: #fff;
                line-height: 1;
                vertical-align: middle;
                white-space: nowrap;
                text-align: center;
                background-color: #ef0000;
                border-radius: 26px;
                border: 1px solid #fff;
                position: absolute;
                left: -14px;
                right: auto;
            }
    }
    .navLinks
    {
        background-color:rgba($navLinksBgColor,0.4);
        padding:3px 0;
        .navbar
        {
            padding-left:0;
            padding-right:0;
            display: block;
            justify-content:space-between; 
            .navbar-nav{
                li
                {
                    a{
                        color:$navLinksColor;
                        font-size: 1.2rem;
                        
                        @include transition(all, 0.5s, ease, 0s);
                        &:hover
                        {
                            color:$navLinksHoverColor;
                           
                            @include transition(all, 0.5s, ease, 0s);
                        };
                        &:last-child
                        {
                            padding-right:0;
                            padding-left:40px;
                        }
                    };
                    &.active
                    {
                        a
                        {
                            color:$navLinksHoverColor;  
                        }
                    }
                }
            }
        }
       
    }
}
header{ 
    /*background-color:rgba($headerBgColor,0.9);
    background-image:url("../../images/banner1.jpg");  
    background-size: cover;
    margin-bottom:60px;
    position: relative;
    overflow: hidden;
    &:before
    {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 
        background-color:rgba($headerOverLayerColor,0.9);
    };
   .tp-bgimg {
        position: relative;
        background-color: rgba($headerOverLayerColor,0.9);
        &:before
        {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          height: 2000px;
          background-color: rgba($headerOverLayerColor,0.9); 		
        }
	}*/
/*
.topLinks
{
    background-color:rgba($headerOverLayerColor,1);
    color:$topLinkColor;
    font-size:14px;
    a
    {
        color:$topLinkColor;*/
/****  $property $duration $function $delay  ***/
/*@include transition(all, 0.5s, ease, 0s);
text-decoration: none;
&:hover{
      /****  $property $duration $function $delay  ***/
       /* @include transition(all, 0.5s, ease, 0s);
        color:$topLinkHoverActiveColor;
    };
}
.leftSide
{
    a
    {
        padding:7px 20px;
        display: inline-block;
        color:$topLinkColor;
        @include transition(all, 0.5s, ease, 0s);
        &:first-child
        {
            padding-left: 0;
            border-right:$navLinksBgColor solid 1px;
        }
        &:last-child
        {
            padding-right:0;
        }
        .fa
        {
            margin-right:5px;
            font-size:14px;
            color: $topIconColor;
            @include transition(all, 0.5s, ease, 0s);
        }
        &:hover{
          /****  $property $duration $function $delay  ***/
           /* @include transition(all, 0.5s, ease, 0s);
            color:$topLinkHoverActiveColor;
                .fa{
                    @include transition(all, 0.5s, ease, 0s);
                    color:$topLinkHoverActiveColor;
                }
        };
    }
}
.rightSide{
     text-align:right;
    a{    
        padding:7px 0px;
        display:inline-block;                   
        &:first-child{
            padding-left:0;
        }
        &:last-child{
            padding-right:0;
        }             
    }
    .search
     {
        width:100%;
        min-width:320px;
        max-width:320px;
        margin-right:20px;            
        input
            {
             height:36px;
             border:none;
             background-color:rgba($topSearchInputBgColor,0.1);
             color:$topSearchInputTextColor;
             padding:0 50px 0 15px; 
             width: 100%;
             width: -webkit-calc(100% - 40px);
             width: -moz-calc(100% - 40px);
             width: calc(100% - 40px);
            }
        button
        {    
             background-color:$topSearchBtnBgColor;
             border:none;
             height:36px;
             cursor:pointer;
             position:absolute;
             color:$topSearchBtnTextColor;
             right:0;
             top:0;
             width:40px;
               /****  $property $duration $function $delay  ***/
/* @include transition(all, 0.5s, ease, 0s);
  .fa{
      color:$topSearchBtnTextColor;
      font-size:18px;
          @include transition(all, 0.5s, ease, 0s);
      transform: scale(1)
     }
    &:hover
     {
           /****  $property $duration $function $delay  ***/
                       /* @include transition(all, 0.5s, ease, 0s);
                        background-color:$topSearchBtnBgHoverColor;
                        color:$topSearchBtnTextHoverColor;
                        .fa{
                                 @include transition(all, 0.5s, ease, 0s); 
                            transform: scale(1.3)
                            }
                    };
             }
        }
    }
} 

 }
@media screen and (max-width:990px)
{
    header
    {
        margin-bottom: 30px; 
        padding-bottom:50px;
        height: auto;
    }
     
}
header#internal-page{
    height:auto;
    min-height: 0; 
    background:none;
    margin-bottom:0px;
     &:before
    {        
        display:none;       
    };
    .navLinks{
     background-color:rgba($headerBgColor,1);
    };
   
  }
*/
/*banner styles */
/*.homeBanner
{
   padding:122px 0 182px;
    h1
    {
        color:$bannerHeadingColor;
        font-size:48px!important;
        font-weight:700!important;
        text-transform:uppercase;
        line-height:50px!important;
        span
        {
            color:$bannerHighlightColor;
            font-size:48px!important;
            font-weight:700!important;
        }
    }
    p
    {
      color:$bannerHeadingColor!important;
      font-size:16px!important;
      margin:40px 0!important;
      line-height:21px!important;
      font-weight: 300
    }
    button
    {
        @include button($bannerBtnBgColor,$bannerBtnTextColor,18px,10px 25px);
        @include radius(0);
        text-transform: uppercase;
        border:$whiteColor solid 1px;
        @include transition(all, 0.5s, ease, 0s); 
    }
}
  */
/*Custom styles */
/*************** Login page ********************/
nav.navbar {
  position: absolute;
  width: 100%;
  z-index: 9999; }
  nav.navbar ul li a {
    color: #338fa7;
    font-size: 15px;
    font-weight: 700;
    padding: 0px 18px; }

#loginPage .container-fluid > .row {
  min-height: 100vh; }
  #loginPage .container-fluid > .row .leftContentOuter {
    background: linear-gradient(to right, #a2dae7, #a2dae7);
    padding-top: 140px !important; }
    #loginPage .container-fluid > .row .leftContentOuter .heading h4 {
      color: #ffffff;
      font-size: 30px;
      font-weight: 700; }
    #loginPage .container-fluid > .row .leftContentOuter .heading p {
      color: #338fa7; }
    #loginPage .container-fluid > .row .leftContentOuter .leftContent {
      background: #a2dae7;
      padding: 72px;
      margin-top: 20px;
      height: 80%;
      box-shadow: 0 2px 13px 0 rgba(43, 133, 157, 0.45);
      background-image: linear-gradient(217deg, #b0e5f2, #87c4d3);
      z-index: 9; }
      #loginPage .container-fluid > .row .leftContentOuter .leftContent h2 {
        padding-bottom: 48px;
        color: #ffffff;
        font-family: "Lato", Arial, sans-serif;
        font-weight: bold;
        font-size: 30px;
        position: relative; }
        #loginPage .container-fluid > .row .leftContentOuter .leftContent h2 span {
          font-family: "Lato", Arial, sans-serif;
          position: absolute;
          top: -25px;
          left: -10px;
          font-size: 60px;
          font-size: 50px;
          color: rgba(255, 255, 255, 0.31);
          font-weight: 900;
          letter-spacing: 1px; }
        #loginPage .container-fluid > .row .leftContentOuter .leftContent h2:after {
          content: "";
          position: absolute;
          background: #ffffff;
          width: 40px;
          height: 2px;
          left: 0px;
          bottom: 18px; }
      #loginPage .container-fluid > .row .leftContentOuter .leftContent p {
        max-width: 286px;
        font-family: Avenir;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.13px;
        color: #ffffff; }
      #loginPage .container-fluid > .row .leftContentOuter .leftContent button {
        background-color: #ffffff;
        margin: 30px 0 50px; }
  #loginPage .container-fluid > .row .rightContentOuter {
    padding-top: 230px !important; }
    #loginPage .container-fluid > .row .rightContentOuter .rightContent {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      padding: 75px 75px 75px 165px;
      margin-top: 31px;
      margin-left: -110px;
      background: #ffffff; }
      #loginPage .container-fluid > .row .rightContentOuter .rightContent img {
        width: 133px;
        height: 52px; }
      #loginPage .container-fluid > .row .rightContentOuter .rightContent p {
        max-width: 336px;
        font-family: Avenir;
        margin-top: 20px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a; }
      #loginPage .container-fluid > .row .rightContentOuter .rightContent button {
        background-image: linear-gradient(107deg, #ade3f1, #7cc9db);
        margin: 20px 0 50px;
        font-family: Avenir;
        font-size: 15px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.13px;
        text-align: center;
        color: #ffffff; }
      #loginPage .container-fluid > .row .rightContentOuter .rightContent h3 {
        font-family: Avenir;
        font-size: 30px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.25px;
        color: #4a4a4a;
        padding-bottom: 48px;
        position: relative; }
        #loginPage .container-fluid > .row .rightContentOuter .rightContent h3 span {
          font-family: "Lato", Arial, sans-serif;
          position: absolute;
          top: -25px;
          left: -10px;
          font-size: 60px;
          color: #4a4a4a;
          opacity: 0.04;
          font-weight: 900;
          letter-spacing: 1px; }
        #loginPage .container-fluid > .row .rightContentOuter .rightContent h3:after {
          content: "";
          position: absolute;
          background: #000000;
          width: 40px;
          height: 2px;
          left: 0px;
          bottom: 18px; }
      #loginPage .container-fluid > .row .rightContentOuter .rightContent label {
        font-family: Avenir-Roman;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.13px;
        color: #838383; }
      #loginPage .container-fluid > .row .rightContentOuter .rightContent input {
        background: none;
        border: none;
        border-bottom: #d8d8d8 solid 1px;
        -webkit-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        padding: 0;
        color: #838383; }
      #loginPage .container-fluid > .row .rightContentOuter .rightContent ::-webkit-input-placeholder {
        /* Edge */
        color: #838383; }
      #loginPage .container-fluid > .row .rightContentOuter .rightContent :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #838383; }
      #loginPage .container-fluid > .row .rightContentOuter .rightContent ::placeholder {
        color: #838383; }
      #loginPage .container-fluid > .row .rightContentOuter .rightContent .form-group.pswd {
        position: relative; }
        #loginPage .container-fluid > .row .rightContentOuter .rightContent .form-group.pswd i {
          position: absolute;
          top: 50%;
          right: 0px;
          color: #a2dae7; }

/*************** Blog page ********************/
/*.blogSection
{
    .recentPosts
    {
        .title
        {
            background-color:rgba($primaryColor,1);
            color: #fff;
            padding: 20px;
        }
        .media
        {
            border-bottom: 1px solid #dddddd;
            margin-top: 15px;
            padding-bottom:5px;
            a{
                color:$primaryColor;
                &:hover{
                    text-decoration:none;
                    color:$primaryColor;
                }
            }
            &:last-child
            {
                border:none
            }
            img {
                position: relative;
                width: 60px;
            }            
            h5
            {
             font-size:1.20rem   
            }
        }
    }
    .blogContent
        {
            h3
            {
                margin:20px 0;
                font-size:22px
            }
            p
            {
                font-size:14px;
                color:#000;
                margin:0 0 10px
            }
             a{
                color:$primaryColor;
                &:hover{
                    text-decoration:none;
                    color:$primaryColor;
                }
            }
        }
    .pagenation-blog
    {
         a{
                color:$primaryColor;
                &:hover{
                    text-decoration:none;
                    color:$primaryColor;
                }
            }
    }
}*/
/*************** / Blog Page ******************/
/*Custom styles */
/*#carouselExampleCaptions
{
   h5{
       text-transform: uppercase;
       font-size:24px
    }
   h2 
    {
        font-size: 10rem;
        font-weight: 700;
        letter-spacing:-10px;
        text-transform:capitalize;
    } 
    .carousel-caption
    {
        bottom:25%
    }
    .carousel-indicators 
    { 
        right: 90%;
        bottom: 38%;
        left: 0; 
        padding-left: 0;
        margin-right: 0;
        margin-left: 0; 
        display: block;
        li
        {
            width: 13px;
            height: 13px;
            @include radius();
            margin:5px 10px;
            background-color:$whiteColor;
            &.active{
                background-color:$primaryColor
            }
        }
    }
    
}


 
.login-fix {
  position: fixed;
  top: 65%;
  right: -15px;
  left: auto;
  transform: rotate(270deg);
  z-index: 9999; }

.login-fix .btn-default {
  background: #c4055f;
  border-color: #fff;
  border-radius: 0;
  color: #fff; }
.specialLists
{
    margin-top:120px;
    margin-bottom:80px;
    .boxContent
    {
      @include shadow(5px, 5px, 5px, rgba($blackColor, 0.5));
        min-height: 220px;
        padding:0 15px 15px;
        .heading
        {
            background-color:rgba($blueColor,0.3);
            color:$whiteColor;
            font-size:18px;
            margin: 0 -15px 10px;
            padding:10px 15px;
            height:60px;
            line-height: 36px;
        }
        a
        {
            color:$linkColor;
            line-height: 30px; 
            text-decoration: none;
            display: inline-block;
            text-decoration: none;
             position: relative;
            span
            {
                display:inline-block;             
                font-size:14px;
                float: left;
                margin-right:10px; 
                opacity:0;
                filter: opacity(0);
                  
                @include transition(all, 0.5s, ease, 0s);
                color:$linkColor;

            }
            .fa{
                color:$iconColor;
                font-size: 20px;
                position: absolute;
                top:5px;
                left:0;
                  
                @include transition(all, 0.5s, ease, 0s);
            }
            &:hover
            {    text-decoration: none;
                span
                {
                    display:inline-block;
                    opacity:1;
                    filter: opacity(1);
                     
                    @include transition(all, 0.5s, ease, 0s);

                };
                .fa{
                     
                    @include transition(all, 0.5s, ease, 0s);
                            left:80px;
                        }
            }; 

        }
        .fa{
                color:$iconColor;
                font-size: 32px;
                margin-right:10px
            }
    }
}
.heading1
{
    font-size: 36px; 
    color:$headingColor;
    span{ color:$headingHighlightColor;}
}
.subTitle
{
    color:$textColor;
    font-size:18px;
    position:relative;
    padding-bottom: 70px;
    &:before,&:after
    {
        content:'';
        position: absolute;
        bottom: 31px;
        left: calc(50% - 39px);
        height: 1px;
        background-color:rgba($blackColor,0.5);
        width: 87px;
    };
    &:after
    {
        left:auto;
        right: calc(50% - 39px);
        bottom:35px;
    }
}
 
.weOffer
{
    .carousel
    {
       .carousel-control-next, .carousel-control-prev
        {
            width:15px; 
             .carousel-control-next-icon:after
            {
              font:normal normal normal 14px/1 fontawesome;
              content: "\f105";
              font-size: 25px;
              color:$carouselIconColor;
            }
            .carousel-control-prev-icon:after 
            {
              font:normal normal normal 14px/1 fontawesome;  
              content: "\f104";
              font-size: 25px;
              color: $carouselIconColor;
            }
        }    
        .carousel-control-next{right:-17px}
        .carousel-control-prev{left:-17px}
        
        .carousel-indicators
        {
            bottom:-20px;
            li
            {
                width:10px;
                height:10px;
                background-color:rgba($indicatorColor,0.3);
                &.active
                {
                    background-color:$indicatorActiveColor;
                }
            }
        } 
    }
}

.container
{
    .card
    {
        border:none;
        @include radius(0);
        .layer
        {
            display:inline-block;
            position: relative;
            &:before
            {
                content:'';
                position: absolute;
                height:100%;
                width:100%; 
                background-color:rgba($layerBgColor,0.3);          
            };
            img{max-width: 100%;}
        }
        .d-flex
        {
            margin:-1.5rem 1rem 0;
            color:$dFlexTextColor;
            a
            {
                margin-right:0.5rem;
                text-decoration:none;
                font-size:11px;
                font-family: inherit;
                font-weight: 300;
                color:$dFlexLinkColor;
            }
        }
        .card-body
        {
            padding:1.25rem 0;
            h5
            {
                font-weight:700;
                color:$cardHeadingColor;
                font-size:16px;
                text-transform: capitalize;
                margin:5px 0 15px
            }  
            p
            {
                color:$cardTextColor;
                font-weight:300;
                font-family: inherit;
                font-size:14px;
                line-height: 21px;
            }
            a
            {
                color:$cardLinkColor;
                line-height: 30px; 
                text-decoration: none;
                display: inline-block;
                text-decoration: none;
                position: relative;
                span
                {
                    display:inline-block;             
                    font-size:14px;
                    float: left;
                    margin-right:10px; 
                    opacity:0;
                    filter: opacity(0);
                   
                    @include transition(all, 0.5s, ease, 0s);
                    color:$cardLinkColor;
                }
                .fa{
                    color:$cardIconColor;
                    font-size: 20px;
                    position: absolute;
                    top:5px;
                    left:0;
                   
                    @include transition(all, 0.5s, ease, 0s);
                }
                &:hover
                {    
                    text-decoration: none;
                    color:$cardLinkHoverColor;
                    span
                    {
                        display:inline-block;
                        opacity:1;
                        filter: opacity(1);
                      
                        @include transition(all, 0.5s, ease, 0s);

                    };
                    .fa
                    {
                     
                        @include transition(all, 0.5s, ease, 0s);
                        left:80px;
                    }
                }; 

            }
        }
    }
}
 
.happyStudents
{
    background-image: url("../../images/patern.png");
    background-color:rgba($happystudentBgColor,0.9);
    padding:80px 0;
    margin:80px 0;
    .heading1
    {
        color:$happystudentHeadingColor;
        span
        {
            color:$happystudentHeadingHighlightColor;
        }
    }
    .subTitle
    {
        color:rgba($happystudentHeadingColor,0.7);
        &:before,&:after
        {
            background-color: rgba($happystudentHeadingColor,0.7);
        }
    }
    .carousel 
    {
        .carousel-indicators
        {
            position:relative;
            display: block;
            margin:0 -8px;
            li
            {
                width:90px;
                height:90px;
                display:inline-block;
                margin:8px;
                text-indent:0;
                cursor: pointer;
                img{width:90px;height:90px};                
                &.active
                {
                    position: relative;
                    &:before
                    {   
                        font-family: 'Source Serif Pro', serif;
                        content:'"';
                        color:$happystudentThumbTextColor;
                        font-size:50px;    
                        line-height:98px;
                        position: absolute;
                        top: 0;
                        left:0;
                        height: 100%;
                        width: 100%;                        
                        background-color: rgba($happystudentThumbBgColor,0.6);
                    }
                }                        
                    
            }
        }
        .carousel-inner
        {
            width:80%;margin-left:10%;
            .carousel-item
            {   
                padding-top:130px;
                h4,p{color:$happystudentcarouselTextColor;font-size:16px}
                h4{font-weight:600;text-transform: uppercase};
                &:before 
                {
                    font-family: 'Source Serif Pro', serif;
                    content:'"';
                    position: absolute;
                    top: 30px;
                    left: calc(50% - 39px);
                    height: 133px;
                    color:$happystudentcarouselQuoteColor;  
                    width: 87px;
                    font-size: 50px;
                };
                
            }
        }
    }    
}
 
.ourFaculties
{
     margin:31px 0;
    .col-lg-3{padding:1px};
    .card
    {
        border:none;
        @include radius(0);
        img{@include radius(0);};
        .d-flex
        {
            margin:-1.5rem 1rem 0;
            a
            {
                margin-right:0.5rem;
                text-decoration:none
            }
        }
        .imgThumb 
        {
            width:100%;
            height:312px;
            overflow:hidden;
        }
        .card-body
        {
            padding:1.25rem 0;
            h5
            {
                font-weight:700;
                color:$ourFacultiesTextColor;
                font-size:16px;
                text-transform: uppercase;
                margin:0px 20px 15px 0
            }
            p
            {
                margin:0px 20px 15px 0;
                color:$ourFacultiesTextColor;
            }
        }
    }
}
 
.easyPricing{
   background-image: url("../../images/patern.png");
    background-color:rgba($easyPricingBgColor,0.9);
    padding:80px 0 50px;
    margin:80px 0 0;
    .heading1
    {
        color:$easypricingHeadingColor;
        span{
            color:$easypricingHeadingHighlightColor;
        }
    }
    .subTitle
    {
        color:rgba($easypricingHeadingColor,0.7);
        &:before,&:after
        {
            background-color:rgba($easypricingHeadingColor,0.7);
        }
    } 
    button
    {
        @include button();
        @include radius(0);
        text-transform: uppercase!important;
        border:$blackColor solid 1px!important;
        &:hover
        {
         border-color:$blueColor!important;  
        }
    }
}
 
.courses
{
    .easyPricing
    {
        .ich_level_wrap
        {
            
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .ihc-level-item
            {                
                display:flex;                
            }
        }
    }
}

@media screen and (max-width:991px)
{   
    .specialLists
    {
        margin-top:0px;
        .boxContent
        { 
            min-height:auto;
            margin-bottom: 30px;
            .heading 
            {
                background-color: rgba($blueColor, 1);
            }
        }
    }
    .courses
    {
        .easyPricing
        {
            .ich_level_wrap
            {
                display:block;
                -ms-flex-wrap:nowrap;
                flex-wrap:nowrap;
               .ihc-level-item
                {                
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                    width: 100%;           
                }
            }
        }
    }
}


/*
#primary{
    
    header{
        background-color: transparent;
    background-image: none;
     height: auto; 
    min-height: 0px; 
    background-size: cover;
    margin-bottom: 0px;
    position: relative;
    overflow: visible;
      &:before
    {
        
        display:none;
       
    };
    h1.entry-title {
        font-size: 30px;
        
    }
    };
    
}

div#content{
    header{
    background-color: transparent;
    background-image: none;
    height: auto;
    min-height: 0px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
    margin-top:30px;
    }
    header:before{
        background-color:transparent;
    }
    footer{
        background-color:transparent;
    }
}
*/
/*
.post.hentry {
    margin-bottom: 4rem;
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

input.search-field.form-control {
width: 100% !important;
} 
.leftSide {
white-space: nowrap;
 display: inline-block;
 }
 form.search-form label{
    width:100%;
}
.carousel-item .col-lg-3 img { 
width: 256px;
}
.contactUs a {
color: #fff; 
text-decoration: none;
}
.card-body h5 a{
color:#000; 
text-decoration: none;
}
aside#secondary button { 
position: relative; 
width: 40px;  
height: 38.8px;  
left: 236px; 
top: -47px; 
background-color: #f9bb00;
border: #f9bb00;
}
aside#secondary i.fa.fa-search { 
color: #ffffff;  
font-size: 18px;
}
aside#secondary .col.col-md-auto.search {
position: relative;
left: 141px; 
top: 37px;
}
aside#secondary .col-lg-4{
max-width: 26.333333%!important;
}
ul.nav.flex-column { padding: 0; 
margin: 0;
width: 100%; 
float: left;
}
ul.nav.flex-column li{background: url("../../themes/bootstrapchild/images/mrk1.gif") no-repeat 0 25px; 
border: 0; 
padding: 10px 0 10px 20px; 
border-bottom: 1px solid #e8e8e8;
}
ul.nav.flex-column li a { 
color: #000;
}
ul.nav.flex-column li a:hover {
color: #f7b603;
}
h3.widget-title {
font-size: 1.2rem;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 1.1em;
}
aside#secondary {
border-left-style: solid;
border-left-width: 1px;
margin-left: -1px;
border-color: #adadad;
}
ul.nav.flex-column li:last-child {
border-bottom: none;
}
.card-body h5 a:hover {
color: #f9bb00;
}
card mb-4 box-shadow img{
height:350px;
width:auto;
}

.googlemap iframe {
 width: 100%;
}
.contact-form {
 margin-top: 30px ;
}
textarea.wpcf7-form-control.wpcf7-textarea.form-control {
height: 131px;
}
input.wpcf7-form-control.wpcf7-submit.btn.btn-primary {
background: $primaryColor;
border: $primaryColor;
}
.ihc-login-template-11 .impu-form-submit input {
  border: 2px solid $primaryColor;
}    
.ihc-login-template-11 .impu-form-submit input:hover {
  background-color: $primaryColor;
}
.ihc-login-template-11 .impu-form-line-fr:hover, .ihc-login-template-11 .impu-form-line-fr:checked {
    border-color: $primaryColor;
}
.ihc_level_template_16 .ihc-level-item-price {

    background-color: $primaryColor;
}
.ihc_level_template_16 .ihc-level-item-link {
    background-color: $primaryColor;
}
a
        {
            color:#ffffff;
             
            &:hover{
                
                color:$primaryColor;
                text-decoration : none;
            };
        }


 
.ihc_level_template_16{
margin:0 auto;
}
.ihc_level_template_16 .ihc-level-item{
    width:32%;
    box-sizing:border-box;
    max-width:380px;
    position:relative;
  display: inline-block;
  vertical-align: top;
  min-width:270px;
}
.ihc_level_template_16 .ihc-level-item-wrap{
    margin:10px;
    margin-bottom:15px;
    box-sizing:border-box;
    border:1px solid #eee;
    padding:0px;
    padding-top:0px;
    position:relative;
      box-shadow: 2px 0px 30px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 9px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 0px 30px rgba(0,0,0,0.1);
  background-color:#ffffff;
}
.ihc_level_template_16 .ihc-level-item-wrap:hover{
        box-shadow: 5px 0px 30px rgba(0,0,0,0.1);
    -webkit-box-shadow: 5px 0px 30px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 0px 30px rgba(0,0,0,0.1);
    -webkit-transition: top 0.4s linear, left 0.4s ease, box-shadow 0.5s ease;
    -moz-transition: top 0.4s linear, left 0.4s ease, box-shadow 0.5s ease;
    -o-transition: top 0.4s linear, left 0.4s ease, box-shadow 0.5s ease;
    -ms-transition: top 0.4s linear, left 0.4s ease, box-shadow 0.5s ease;
    transition: top 0.4s linear, left 0.4s ease, box-shadow 0.5s ease;
    top: -4px;
    position: relative;
    z-index: 98;
}
.ihc_level_template_16 .ihc-level-item-top{
    display:block;
    width:100%;
    box-sizing:border-box;
    text-align:center;
}
.ihc_level_template_16 .ihc-level-item-title{
    font-family: 'Oswald', arial, sans-serif !important;
    color:#000;
  font-size: 22px !important;
  border: none !important; 
  padding: 17px 6px;
  line-height:40px;
  min-height:60px;
}
.ihc_level_template_16 .ihc-level-item-content{
    padding: 20px 30px;
    text-align:left;
    color:#000;
    min-height: 250px;
    padding-bottom: 80px;
    box-sizing: border-box;
}
.ihc_level_template_16 .ihc-level-item-content *{
    color:#000 !important;
}
.ihc_level_template_16 .ihc-level-item-bottom{
    position: absolute;
    bottom: 0px;
  left:0;
  right:0;
  height:75px;
box-sizing:border-box;
}
.ihc_level_template_16 .ihc-level-item-price{
    font-family: 'Oswald', arial, sans-serif !important;
    box-sizing:border-box;
    width: 100%;
  position: relative;
  box-sizing: border-box;
      background-color:#f9bb00;
    font-size: 31px !important;
  color: #000 !important;  
  text-align: center;
  line-height: 45px;
  padding: 10px 0;
  min-height:45px;
}
.ihc_level_template_16 .ihc-level-item-link{
    text-align:center;
    box-sizing:border-box;
    
    margin: 10px auto;
    width: 60%;
    border: none;
    border-radius:6px;
    text-transform: capitalize;
    padding: 5px 20px;
    font-size:15px;
    line-height:35px;
    border-color: #fff !important;
    box-shadow: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
      font-family: Helvetica, sans-serif, 'Trebuchet MS';
    font-size: 17px;
    font-weight: bold;
}
.ihc_level_template_16 .ihc-level-item-link:hover{
    color:#000;
}
.ihc_level_template_16 .ihc-purchased-level{
     background-color: #f47e7e!important;
}
#primary nav
{
    margin: 20px 0 20px 0;
    display: block;
    height: 100%;
    width: auto;
    min-height: 30px;
    text-align: center
}
#main .course{margin:0 auto!important}*/
/*footer styles */
/*footer
{
    background-color:rgba($footerBgColor,0.93);
    padding:45px 0;
    h5{
        color:$footerHeadingColor;
        font-size:21px;
        margin-bottom: 15px 
    }
   p{color:$footerTextColor;font-size: 14px}
    .contactUs
    {
        p
        {
            position: relative;
            padding-left: 25px;
          .fa
            {
                color:$footerIconColor;
                position: absolute;
                left: 0px;
                top: 3px;
            }
        }
    }
    a{
        color:$footerLinkColor;
        &:hover{
            color:$footerLinkHoverColor;
            text-decoration:none
        }
    }

    .socialLinks
    {
        a
        {
            display:inline-block;
            width: 38px;
            height: 38px;
            margin:3px;
            background-color:rgba($footerSocialIconBgColor,1);
            color:$footerSocialIconColor;
            line-height: 38px;
            text-align: center;
            @include radius(100%);
             
            @include transition(all, 0.5s, ease, 0s);
            .fa
            {
               color:$footerSocialIconColor;
                 
                @include transition(all, 0.5s, ease, 0s);
                
            }
             &.fb
                {
                    background-color:$facebookColor;
                };
            &.tw
                {
                    background-color:$twitterColor;
                };
            &.pt
                {
                    background-color:$pinterestColor;
                };
            &.gp
                {
                    background-color:$googleplusColor;
                }
            &:hover
            {
                 background-color:$footerSocialIconBgHoverColor;
                color:$footerSocialIconHoverColor;
                 
                @include transition(all, 0.5s, ease, 0s);
                .fa
                {
                 color:$footerSocialIconHoverColor;
                  
                 @include transition(all, 0.5s, ease, 0s);
                }
            }
        }
    }
}
.copyRight
{
    background-color:$copyrightBgColor;
    p{
        font-size:14px;
        color:rgba($copyrightTextColor,0.9);
        padding:15px 0
    }
}
 footer.entry-footer{
    background: transparent;
 }*/
/*themes styles */

/*# sourceMappingURL=app.css.map */
