*{
    font-family: 'Open Sans';
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
}
html,body{height:100%;font-family: "Open Sans";font-size:14px}
/*.read-more{ 
        @include button($primaryColor,$blackColor,18px,10px 25px);
        @include radius(10px);
        text-transform: uppercase;
        border:$blackColor solid 1px;
        @include transition(all, 0.5s, ease, 0s); 
         &:hover{
             background-color:$primaryHoverColor;
         }
     }     
*/
.nb-btn{min-height:50px;min-width:160px;display: flex;align-content: center;justify-content: center;border:none}
/***************** cardBlockStyle *******************/
.cardContainer
{
    max-width: 600px;
    /***************** cardBlockStyle_1 *******************/
    .cardBlockStyle_1
    {
        @include gradient(left, rgba($gradientColor1,1), rgba($gradientColor2,1));
        @include shadow(0px, 0px, 15px, rgba($blackColor, 0.4));
        .cardHeading
        {
            @extend .cardHeading;
            color:$whiteColor;
            border-bottom:rgba($whiteColor,0.2) solid 2px;
        }
        .cardContent
        {
            margin: 0;
            padding: 10px 40px 30px;
            p
            {
              @extend .cardContentP;                
            }
            button.btnStyle1,a.btnStyle1,.btnStyle1
            {
            /*  btnFormat($bgColor:$primaryColor,$bgColorHover:$primaryColor,$textColor:$blackColor,$fontSize:16px,$padding:12px 30px)   */
                @include btnFormat($gradientColor1,$primaryColor,$whiteColor,14px, 12px 30px);
                font-weight:600;border-top:$primaryColor solid 1px;
            }
        }
    }
    /***************** cardBlockStyle_1 *******************/
    /***************** cardBlockStyle_2 *******************/
    .cardBlockStyle_2
    {
        @include gradient(left, rgba($whiteColor,1), rgba($whiteColor,1));
        @include shadow(0px, 0px, 15px, rgba($blackColor, 0.4));
        .cardHeading
        {
            @extend .cardHeading;
            color:$blackColor;
            border-bottom:rgba($blackColor,0.2) solid 2px;
        }
        .cardContent
        {
            margin: 0;
            padding: 10px 40px 30px;
            p
            {
              @extend .cardContentP;
              color:$blackColor
            }
            button.btnStyle1,a.btnStyle1,.btnStyle1
            {
            /*  btnFormat($bgColor:$primaryColor,$bgColorHover:$primaryColor,$textColor:$blackColor,$fontSize:16px,$padding:12px 30px)   */
                @include btnFormat($primaryColor,$primaryHoverColor,$whiteColor,16px, 12px 30px);
                @include gradient(left, $gradientColor2, rgba($gradientColor1,1));
                font-weight:600;
            }
        }
    }
    /***************** cardBlockStyle_2 *******************/
     /***************** cardBlockStyle_2 *******************/
    .cardBlockStyle_3
    {
        @include gradient(left, rgba($whiteColor,1), rgba($whiteColor,1));
        @include shadow(0px, 0px, 15px, rgba($blackColor, 0.4));
        .cardHeading
        {
            @extend .cardHeading;
            color:$blackColor;
            margin-bottom:10px;
            &:before
            {
                content: '';
                position: absolute;
                bottom: 0;
                left:40px;
                width:40px;
                border-bottom:$primaryColor solid 2px;
            };
        }
        .cardContent
        {
            margin: 0;
            padding: 10px 40px 30px;
            p
            {
              @extend .cardContentP;
              color:$blackColor;
                padding-bottom:20px;
            }
            button.btnStyle1,a.btnStyle1,.btnStyle1
            {
            /*  btnFormat($bgColor:$primaryColor,$bgColorHover:$primaryColor,$textColor:$blackColor,$fontSize:16px,$padding:12px 30px)   */
                @include btnFormat($primaryColor,$primaryHoverColor,$whiteColor,16px, 12px 30px);
                @include gradient(left, $gradientColor2, rgba($gradientColor1,1));
                font-weight:600;
            }
        }
    }
    /***************** cardBlockStyle_2 *******************/
    
}
/***************** cardBlockStyle *******************/