$primaryFontFamily:'Open Sans';
$secondaryFontFamily:'Arial';


/* Theme Color */    
$primaryColor:#05637e; 
$primaryHoverColor:#077fa2; 
$secondaryColor:#000000;
$whiteColor:#ffffff;
$blueColor:#04091e;/*rgb(4,9,30)*/
$blackColor:#000000;

$facebookColor:#3B5998;
$twitterColor:#49a7f3;
$pinterestColor:#c8232c;
$googleplusColor:#f03b3b;

$textColor:$blackColor;
$linkColor:$primaryColor;
$linkHoverColor:$primaryHoverColor;
$iconColor:$primaryColor;

$gradientColor1:#0b89af;	 
$gradientColor2:#19abd4;
$brown-grey-two:#838383;
$very-light-pink:#d8d8d8;